.linkovi{
    text-decoration: none;
    color: black;
    font-family: Trebuchet MS, sans-serif;
    font-size: 20px;
}
ul{
    list-style-type: none;
    padding: 10px;
    margin-top: 0px;
    
}
nav{
    position: sticky;
    top: 0px;
    background-color: white;
    height: 42px;
    
}
li{
    display: inline-block;
}
#knjizarabookstorelink{
    margin-right: 710px;
    padding: 10px;
}
#ponudalink{
    margin-right: 30px;
    padding: 7px;
}
#onamalink{
    margin-right: 30px;
    padding: 7px
}
#kontaktlink{
    padding: 7px;
}
#knjizarabookstorelink:hover{
    background-color: #bdc3c7;
    border-radius: 4px;
    transition: 0.4s;
}
#ponudalink:hover{
    background-color: #bdc3c7;
    border-radius: 4px;
    transition: 0.4s;
}
#onamalink:hover{
    background-color: #bdc3c7;
    border-radius: 4px;
    transition: 0.4s;
}
#kontaktlink:hover{
    background-color: #bdc3c7;
    border-radius: 4px;
    transition: 0.4s;
}
body{
    margin: 0px;
    padding: 0px;
}
img{
    width: 1263px;
    height: 650px;

}
html{
    scroll-behavior: smooth;
}