div{
    border: 1px solid black;
}

.header{
    width: 800px;
    height: 150px;
    border: 1px solid black;
    position: relative;
}

#div1{  
    position: absolute;
    left: 10px;
    top: 10px;
    width: 250px;
    height: 40px;
    padding: 4px;
}

#div2{
    position: absolute;
    right: 10px;
    top: 7px;
    width: 200px;
    padding: 3px;

}

#div3{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 550px;
    height: 25px;
    padding: 4px;
}
